<input type="text" placeholder="Ingresa tu nombre" class="form-control" #name>

<button class="btn btn-primary mt-2" (click) = "mostrar_en_consola(name.value)">
     Mostrar en consola
</button>
<div class="alert alert-primary mt-4" *ngIf="openAlert; else template">
    <p>se ha enviado el mensaje</p>
    <button class="btn btn-danger" (click) = "openAlert = false">
        x
    </button>
</div>

<ng-template #template>
    <div class="alert alert-danger mt-4">
        <p>Mensaje de prueba</p>
    </div>
</ng-template>
<!--
<ng-template>
    <div class="alert alert-danger mt-4">
        Mensaje de prueba
    </div>
</ng-template>
@if(openAlert){
    <div class="alert alert-primary mt-4">
    
        <p>Se ha enviado el mensaje</p>
        <button class="btn btn-danger" (click) = "openAlert = false">x</button>
        
    </div>
}@else{
    <ng-template >
        <div class="alert alert-danger mt-4">
            <p>Mensaje de prueba</p>
        </div>
    </ng-template>
}
-->